<div class="d-flex">
    <div class="w-25 pr-3" style="height: 100%;">
        <!-- perfil simples e dados do utilizador em sessão -->
        <div class="card profile text-light border-0">
            <div class="card-body">
                <img class="img-fluid border border-dark rounded profile-image" 
                    src="../../../assets/vibing_cat02.gif" alt="Player Avatar">
                <div class="profile-text">
                    <strong>{{player}}</strong>
                </div>
            </div>
        </div>

        <!-- visivel só para sm-down -->
        <div class="d-md-none">
            <div class="pt-2">
                <!-- histórico de partidas do jogador em sessão -->
                <app-match-history></app-match-history>
            </div>
        </div>
    </div>
    <!-- lista de amigos à direita, visivel só para lg-up -->
    <div class="d-none d-md-inline" style="padding-right: 0px; padding-left: 0px;">
        <app-match-history [player]="player"></app-match-history>
    </div>
</div>

<!-- <div class="container">
    <div class="container p-3 text-center bg-light">
        <h2>DEV ALERT</h2>
        <p>
            Por implementar!
            <!-_
            '__(.)< (KUWABUGA)
             \___)
            ~~~~~~->
        </p>
        <div class="pb-3">
            <img width="320" height="180" class="img-fluid" src="../../../assets/madjimbi_Fixe.gif">
        </div>
        <a class="btn btn-secondary btn-lg center" (click)="returnBackButton()" role="button">
            Return Home</a>
    </div>
</div> -->