.profile {
    background-image: url('../../../../assets/UIWood_4x_ultrawide.png'); 
    background-size: 100% 100%; 
    background-color: transparent;
    width: 50rem;
}

.profile .profile-image {
    height: 12rem; 
    margin-left: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile .profile-text {
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'MedievalSharp', cursive; 
    font-size: xx-large;
}

@media (max-width: 1200px) {
    .profile {
        width: 32rem;
    }

    .profile .profile-image {
        margin-left: 3rem;
    }
}

@media (max-width: 768px) {
    .profile {
        background-image: url('../../../../assets/UIWood_4x_wide.png');
        text-align: center;
        width: auto;
    }

    .profile .profile-image {
        height: 10rem;
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .profile .profile-text {
        padding-left: 0rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: 'MedievalSharp', cursive; 
        font-size: large;
    }
}